@model IEnumerable<CraveWheels.Models.Product>

@{
    ViewData["Title"] = ViewData["Name"];
}

<h1>Find Great Food at @ViewData["Name"]</h1>
@*
<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name</li>
    }
</ul>
*@
<section class="row card-group">
    @*show card for each item*@
    @foreach (var product in Model)
    {
        <div class="col-lg-4 mb-3">
            <div class="card mb-4">
                <div class="card-body text-center h-100">
                    @if (String.IsNullOrEmpty(product.Photo))
                    {
                        // No Photo
                        <img src="~/img/products/placeholder.gif" alt="Placeholder Image"
                            class="img-thumbnail" style="max-width: 250px"
                        />
                    }
                    else
                    {
                        // With Photo
                        <img src="~/img/products/@product.Photo" alt="Photo of @product.Name"
                             class="img-thumbnail" style="max-width: 250px" />
                    }
                    <br />
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                        @product.Name
                    </a>
                    <br />
                    <h6>@product.Price.ToString("C")</h6>
                    @*Form elements allow us to send info back to the server*@
                    <form method="post" action="/Shop/AddToCart">
                        @*capture productid*@
                        <input type="hidden" id="ProductId" name="ProductId" value="@product.ProductId"/>
                        @*capture quantity*@
                        <fieldset>
                            <label class="form-control" for="Quantity">Qty: </label>
                            <input name="Quantity" id="Quantity" required type="number" min="1" max="99"/>
                        </fieldset>
                        @*button triggers post request back to server*@
                        <button class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</section>